.vue-modal {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background: rgba(255, 255, 255, 0.11);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(5px);
    border: 0px solid rgba(255, 255, 255, 0.3);
    overflow-y: auto;
    overflow-x: hidden;
}

.vue-modal-content {
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-content: center;
}